body {
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  background-image: linear-gradient(
      rgba(199, 199, 199, 0.3) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(199, 199, 199, 0.3) 0.1em, transparent 0.1em);
  background-size: 3em 3em;
}

.models {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-top: 70px;
  flex-wrap: wrap;
}

.projectImg {
  width: 350px;
  height: 191px;
}

.projectImg img {
  width: 100%;
}

.model {
  width: 350px;
  height: 280px;
  border: 0.1rem solid #000000;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  background-color: white;
}

.projectInformation {
  border-top: 1px solid;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.projectInformation button {
  margin-top: 25px;
  margin-right: 25px;
  background-color: #e7275c;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  cursor: pointer;
  padding: 10px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.projectInformation h2 {
  font-size: 18px;
}
.text {
  line-height: 6px;
  margin-top: 15px;
  margin-left: 15px;
}

.projectInformation p {
  font-size: 12px;
}
.bold {
  font-weight: bold;
}

.title {
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
}

.button-back button {
  margin-top: 25px;
  margin-left: 30px;
  background-color: #e7275c;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  cursor: pointer;
  padding: 10px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
